In [4]:
import pandas as pd
import numpy as np

In [2]:
MyData = pd.read_csv("../../datathon-2023-fashion-compatibility-main/datathon/dataset/outfit_data.csv")
MyData.head()

   cod_outfit cod_modelo_color
0           1      51000622-02
1           1      43067759-01
2           1      53060518-02
3           1      53030594-08
4           1      43077762-01

In [10]:
X = np.zeros(len(MyData))
print(len(X))

[0. 0. 0. ... 0. 0. 0.]

In [ ]:

Y_train = np.zeros
for index in range(len(df)):
    # Accede a los valores de cada columna
    cod_outfit = df.loc[index, 'cod_outfit']
    cod_modelo_color = df.loc[index, 'cod_modelo_color']